html {
  background-color: #e4e9fd;
  min-height: 1000px;
  font-family: "helvetica neue";
  background-image: -webkit-linear-gradient(70deg, #b3e8e5 40%, #fdf6f0 50%);
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #b3e8e5;
  text-align: center;
}

/* Todo lists dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: -45px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

a.homeButton {
  font-size: 35px;
  color: #b3e8e5;
}

a {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.item {
  position: relative;
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #b3e8e5;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #b3e8e5;
  color: #fff;
  font-size: 30px;
  border-width: 0;
}

.deleteButton {
  color: #f94c66;
  background-color: transparent;
}

.alignButton {
  position: absolute;
  right: 13px;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #b3e8e5;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
